body {
    background-color: bisque;
    overflow: hidden;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#head2 {
    position: relative;
    left: 460px;
    width: 518px;
    top: 10px;
    color: black;
    background-color: wheat;
   
}

#head1 {
    position: relative;
    left: 590px;
    top: 40px;
    color: rgb(0, 0, 0);
    background-color: wheat;
    width: 187px;
    white-space: nowrap;   /* keep text in one line */
}

* {
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: transparent;
    height: 400px;
    width: 301px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 530px;
    top: 0px;
    flex-wrap: wrap;
}

@keyframes rotate-in {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.winner-animation {
    display: inline-block;
    animation-name: rotate-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.winner-animation1 {
    display: inline-block;
    animation-name: rotate-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#head11 {
    position: relative;
    color: white;
    left: 436px;
    top: 0px;
    width: 480px;
    z-index: 1;
    font-size: 28px;
    background-color: wheat;
}

#draw {
    position: relative;
    left: 186px;
    font-size: 28px;
    top: 0px;
}

#reset {
    position: relative;
    top: 15px;   /* moved up a little but still under board */
    left: 634px;
    height: 50px;
    width: 100px;
    font-weight: 600;
    background-color: transparent;
    color: white;
}

#but1, #but2, #but3,
#but4, #but5, #but6,
#but7, #but8, #but9 {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border-width: 5px;
    color: black;
    font-size: 40px;
    background-color: white;
}

#but4, #but5, #but6 {
    position: relative;
    top: -33px;
}

#but7, #but8, #but9 {
    position: relative;
    top: -66px;
}
